div#wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  display: table;
}

div#cell {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 40px;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: right;
  padding: 0 5px;
  background-color: white;
}

#game {
  height: 100%;
}

#leave {
  margin-top: 10px;
  margin-right: 10px;
}

#letters {
  position: relative;
  right: 50%;
  text-align: right;
}

#player-words ul {
  padding-left: 0;
}
